
* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #66cbea, #ed9cf7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}


.todo-container {
  width: 600px;
}


.todo-header {
  background: #f0e1f1;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.todo-header h1 {
  text-align: center;
  margin-bottom: 15px;
}


.add-row {
  display: flex;
  gap: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#add-btn {
  padding: 10px 18px;
  border: none;
  background: #4f46e5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

#add-btn:hover {
  background: #4338ca;
}


#todo-list {
  list-style: none;
  padding: 0;
}


#todo-list li {
  background: #ffffff;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.12);
}